$main_font: 'Roboto', sans-serif;
$color_midnight_blue: #2c3e50;
$color_carrot: #e67e22;
$color_pumpkin: #d35400;

// statuses
$color_status_open_background: #e2e2e2;
$color_status_in_progress_background: #efda9b;
$color_status_done_background: #9befb1;